# empty newlines and lines beginning with a "#" character are ignored.

# Orchestrator settings
OrcBaseAPI orchasterBase/api
OrcUsername orchestrator_user
OrcPasswd dba_password

#Github token for integration
GithubToken some_secret_token
GithubOwner owner-or-org
GithubRepo artifact-schema

WebAddress :8080


# DB connections settings
DBUser db_schema_user
DBPasswd very_secure_password
