<!--change.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			Change something - a.k.a "misplace your sheep"
		</div>
		<div class="panel-body">
			<div class="">
				<p>
					Give the details. <i>Waste</i> will try and figure what you want.
				</p>
				<p>
					If running with scissors, <i>Waste</i> will attempt to push you.
				</p>
			</div>

			<form action="/change" method="post" class="text-center border border-light p-5">
				<!-- <select id="discoverHostType" class="form-control">
					<option value="mongo">MongoDB</option>
					<option value="mysql">MySQL</option>
					<option value="cassandra">Cassandra</option>
					<option value="elastic">ElasticSearch</option>
					<option value="proxysql">ProxySQL</option>
				</select> -->
                
                <!-- artifact -->
                <input type="text" class="form-control mb-4" id="Artifact" placeholder="Enter artifact name">
                
                <!-- cluster -->
				<input type="text" class="form-control mb-4" id="Cluster"  placeholder="Cluster name">
				
				<!-- cluster -->
                <input type="text" class="form-control mb-4" id="DatabaseName"  placeholder="database name">

                <!-- table -->
                <input type="text" class="form-control mb-4" id="TableName"  placeholder="name your tbale">

                <!-- Columns -->
                <div class="form-group">
                    <textarea class="form-control rounded-0" id="SQLCmd" rows="3" placeholder="columns and stuff"></textarea>
                </div>
				<button type="submit" class="btn btn-rounded " value="Submit">Submit</button>
			</form>
		</div>
	</div>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}